# Arbitrum
VITE_CHAIN1_ID=42161
VITE_CHAIN1_BUNDLER_URL=https://api.candide.dev/public/v3/42161
VITE_CHAIN1_PAYMASTER_URL=https://api.candide.dev/public/v3/42161
VITE_CHAIN1_JSON_RPC_PROVIDER=https://arbitrum-one-rpc.publicnode.com
VITE_CHAIN1_NAME=Arbitrum
VITE_CHAIN1_EXPLORER_URL=https://arbiscan.io
VITE_CHAIN1_USDT0_TOKEN=0xFd086bC7CD5C481DCC9C85ebE478A1C0b69FCbb9
VITE_CHAIN1_USDT0_OFT=0x0000000000000000000000000000000000000000
VITE_CHAIN1_LZ_EID=30110

# Plasma
VITE_CHAIN2_ID=10849
VITE_CHAIN2_BUNDLER_URL=https://api.candide.dev/public/v3/10849
VITE_CHAIN2_PAYMASTER_URL=https://api.candide.dev/public/v3/10849
VITE_CHAIN2_JSON_RPC_PROVIDER=https://rpc.plasma.build
VITE_CHAIN2_NAME=Plasma
VITE_CHAIN2_EXPLORER_URL=https://explorer.plasma.build
VITE_CHAIN2_USDT0_TOKEN=0x0000000000000000000000000000000000000000
VITE_CHAIN2_USDT0_OFT=0x0000000000000000000000000000000000000000
VITE_CHAIN2_LZ_EID=30331
